@charset "UTF-8";

@media (max-width: 767px) {
    .container-fluid > .row-fluid > .span9 {
        float: left;
        margin-left: 10px;
        width: 74.468085099%;
    }
}

@media (max-width: 767px) {
    [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.row-fluid .span9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.span9 {
    width: 700px;
}

[class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
}

.content {
    min-width: 760px;
}



.content h3 {
    height: 35px;
    line-height: 35px;
    color: #FFF;
    font-size: 134%;
    font-weight: bold;
    text-indent: 20px;
}
.mainttl2 {
    height: 35px;
    color: #fff;
    border: 1px solid #CCC;
    margin-bottom: 0;
    border-radius: 10px 10px 0 0;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    background: #484d58;
    background: -webkit-gradient(linear,left top,left bottom,from(#b6b9c2),to(#484d58));
    background: -webkit-linear-gradient(#b6b9c2,#484d58);
    background: -moz-linear-gradient(#b6b9c2,#484d58);
    background: -ms-linear-gradient(#b6b9c2,#484d58);
    background: -o-linear-gradient(#b6b9c2,#484d58);
    background: linear-gradient(#b6b9c2,#484d58);
    -pie-background: linear-gradient(#b6b9c2,#484d58);
    <!--behavior: url(/portal2/js/PIE.htc); -->
}

h3 {
    font-size: 24.5px;
}

h1, h2, h3 {
    line-height: 40px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

div.content .panel_bottom_bg {
    padding: 0 0 6px 0;
    background: url(../images/main_panel_bg.jpg) repeat-x 0 bottom;
}

div.content .panel.class {
    padding: 14px 0 14px 0;
}

div.content .panel {
    margin: 0 0 0 0;
    padding: 0 0 13px 0;
    border: 1px solid #B8BCC7;
    border-top: none;
}

.clear {
    overflow: hidden;
    _zoom: 1;
}

div.content .panel.class dl {
    width: 230px;
    float: left;
    display: inline;
    margin: 0 4px 0 4px;
    border: 2px solid #A3CEDC;
}

ul, ol, li, dl, dt, dd {
    list-style-type: none;
    list-style-position: outside;
}

dl {
    margin-bottom: 20px;
}

dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div.content .panel.class dl.notice dt {
    padding: 0 10px 0 38px;
    background: url(../images/main_news_icon01.jpg) no-repeat 0 0;
}

div.content .panel.class dl dt {
    height: 36px;
    line-height: 36px;
    float: left;
    font-weight: bold;
    border-right: 2px solid #A3CEDC;
}

dt {
    font-weight: bold;
}

dt, dd {
    line-height: 20px;
}

dt {
    display: block;
}

div.content .panel.class dl dd {
    float: right;
    line-height: 30px;
    padding: 0 5px 0 0;
}


dd {
    margin-left: 10px;
}

a {
    color: #08c;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

div.content .panel.class dl dd span {
    font-size: 167%;
    font-weight: bold;
    padding: 0 3px 0 5px;
}

div.content .panel.class dl.schedule dt {
    padding: 0 10px 0 28px;
    background: url(../images/main_news_icon02.jpg) no-repeat 0 0;
}

div.content .panel.class dl dt {
    height: 36px;
    line-height: 36px;
    float: left;
    font-weight: bold;
    border-right: 2px solid #A3CEDC;
}

div.content .panel.class dl.questionnaire dt {
    padding: 0 10px 0 32px;
    background: url(../images/main_news_icon03.jpg) no-repeat 0 0;
}