.todoListDelete{
    float: right;
    margin-right: 3.3%;
    position: relative;
    top: -25px;

}

.todoList{
    margin: 2em auto;
    width: 95%;
    padding: 0.5em 1em;
    color: #5d627b;
    background: white;
    border: 1px solid; /* 線の太さと可視化 */

    /*background-color: rgba(0,0,0,0.3);*/
}


.btn:first-child {
    *margin-left: 0;
}

button.btn, input[type="submit"].btn {
    *padding-top: 3px;
    *padding-bottom: 3px;
}

.btn {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.ToDoListButton{
    float: right;
    position: relative;
    top: -30px;
}

/*popup表示させたいコンテンツのレイアウトと位置*/
#popup{
    width:30%;
    line-height:100px;
    background-color: rgba(0,0,0,0.3);
    padding:0 4%;
    box-sizing:border-box;
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

label img:hover{
    cursor:pointer;
}
.popupLabel input[type="checkbox"]{
    display:none;
}
/*checkboxがcheckの状態になったらpopupを表示させる*/
.popupLabel input[type="checkbox"]:checked + #popup{
    display:block;
}

label{
    display:block;
}
/*ボタンの装飾*/
.popupLabel .deleteCheckBox{
    /*display:block;
    background-color:#01b6ed;
    color:#fff;
    width:200px;
    line-height:40px;
    border-radius:4px;
    text-align:center;*/
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: linear-gradient(to bottom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);

}

/*.editToDoForm{
    float: right;
}*/

.popupLabel{
    float: right;
}

.deleteConfirm span{
    font-size: 18px;
    color: white;
}